.container {
    width: 500px;
    margin: auto;
}

span {
    color: rgb(105, 30, 30);
    text-decoration: underline;
    font-weight: bold;
}

.tarif{
    border-radius: 5px;
    background-color: rgb(90, 29, 29);
    color: white;  
    text-decoration: none;
}

.ozellik {
    text-align: center;
}

.footer {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}